.mail_popup{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  form{
    h3{
      margin-bottom: 30px;
    }
    width: 300px;
    height: fit-content;
    background: white;
    border-radius: 20px;
    padding: 3em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    input{
      width: 100%;
      border-radius: 10px;
      padding: 1em;
      margin-bottom: 30px;
      border: none;
      background: rgba(0,0,0,0.1);
    }
    button{
      width: 320px;
    }
  }
}